.gallery{
 
    margin-top: 140px;
    margin-bottom: 120px;

    .main-wrapper{
        .gallery-list{
            margin-top: 80px;
            .gallery_button{
                margin-top: 40px;
                text-align: center;
            }
        }
    }
}