$blue-cl: #2658da;
$light-gray-cl: #f4f4f4;
$black-cl: #181818;
$dark-gray-cl: #404040;
$gray-cl: #808080;
$silver-cl: #bfbfbf;

$sz-small-text: 14px;
$sz-text: 16px;
$sz-headline: 20px;
$sz-head: 32px;
$sz-title: 40px;
$sz-watermark: 76px;
